  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
       <a class="navbar-brand" href="#">Bookers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-white">
            <%= link_to root_path, class: "text-white" do %>
              <i class="fas fa-home"></i>Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  homes_about_path, class: "text-white" do %>
              <i class="fas fa-link ml-2"></i>About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "text-white" do %>
              <i class="fas fa-user-plus ml-2"></i>sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_session_path, class: "text-white" do %>
              <i class="fas fa-sign-in-alt ml-2"></i>login
            <% end %>
          </li>
        </ul>
        <% else %>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to root_path, class: "text-white" do %>
              <i class="fas fa-home"></i>Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "text-white" do %>
              <i class="fas fa-users ml-2"></i>Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  books_path, class: "text-white" do %>
              <i class="fas fa-book ml-2"></i>Books
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, methd: :delete, class: "text-white" do %>
              <i class="fas fa-sign-out-alt ml-2"></i>logout
            <% end %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>
